.titleSection {
  width: 100%;
}

.titleWrapper {
  margin: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.tokens {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--grey);
}

@media screen and (max-width: 900px) {
  .titleSection {
    width: 100%;
    transform: scale(0.8);
  }
}
